button {
    display: inline-block;
    margin-top: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    background: none;
    outline: none;
    border: .1rem solid #fff;
    cursor: pointer;
}